:root{
    --main-width-common : 600px;
    --main-width-display-device : 90vw
}
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
    height: 8%;
    margin-bottom: 1.6rem;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #069;
}

#chat {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lora';
    color: rgba(0, 15, 15, 0.8);
}

#chat .messages strong {
    text-shadow: 0.3px linear #ffefff;
}

input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-family: "verdana";
}

button[type="submit"]{
    font-size: 14px;
    background: #069 ;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    transition: 0.05s linear;
    border:   -1px 0.5px;
    border-radius: 5px;
    width: var(--main-width-common);
}

button:hover {
    transform: scale(1.1);
    background-color: #0080b3;
}

.messages {
    width: var(--main-width-common);
    height: 72%;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 2px;
    overflow-x: auto;
    padding-bottom: 1rem;
}

footer {
    height: 8%;
}

.creditos {
    color: rgba(92, 95, 95, 0.7);
}
.creditos span {
    color: salmon;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: lightsteelblue;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px ;
    background-color: lightslategray;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}

.messages:hover, input:hover {
    border: 1px solid rgba(0, 15, 15, 0.3);
}

@media (max-width: 768px) {
    .messages,
    button[type="submit"],
    input {
        width: var(--main-width-display-device);
    }
}

